<div class="docs-nav-mobile hidden-desktop">
  <select onchange="if (this.value) window.location.href=this.value">
    <option value="">Navigate the docs…</option>
    <optgroup label="Getting started">
      <option value="{{ site.url }}/contents/home">Welcome</option>
      <option value="{{ site.url }}/contents/gettingstarted">Getting Started</option>
      <option value="{{ site.url }}/contents/configuration">Configuration</option>
      <option value="{{ site.url }}/contents/sendingevents">Sending Events</option>
      <option value="{{ site.url }}/contents/search">Searching</option>
    </optgroup>
    <optgroup label="Miscellaneous">
      <option value="{{ site.url }}/contents/security">Security</option>
      <option value="{{ site.url }}/contents/troubleshooting">Troubleshooting</option>
      <option value="{{ site.url }}/contents/faq">FAQ</option>
      <option value="{{ site.url }}/contents/upgrading">Upgrading</option>
    </optgroup>
  </select>
</div>
