<div class="span2 visible-desktop">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}active{% endif %}">
        <a href="{{ site.url }}/contents/home">Welcome</a>
      </li>
      <li class="{% if page.title == "Getting Started" %}active{% endif %}">
        <a href="{{ site.url }}/contents/gettingstarted">Getting Started</a>
      </li>
      <li class="{% if page.title == "Configuration" %}active{% endif %}">
        <a href="{{ site.url }}/contents/configuration">Configuration</a>
      </li>
      <li class="{% if page.title == "Sending Errors" %}active{% endif %}">
        <a href="{{ site.url }}/contents/sendingerrors">Sending Errors</a>
      </li>
    </ul>
    <h4>Miscellaneous</h4>
    <ul>
      <li class="{% if page.title == "Troubleshooting" %}active{% endif %}">
        <a href="{{ site.url }}/contents/troubleshooting">Troubleshooting</a>
      </li>
    </ul>
    <h4>Contribute</h4>
    <ul>
      <li>
        <a href="https://github.com/codesmithtools/docs.exceptionless.com/edit/gh-pages/{{page.url | replace:'.html','.md'}}">Edit Page</a>
      </li>
    </ul>
  </aside>
</div>
