<div class="span3">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.url }}/contents/home">Welcome</a>
      </li>
      <li class="{% if page.title == "Quick-start guide" %}current{% endif %}">
        <a href="{{ site.url }}/contents/quickstart">Quick-start guide</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/contents/installation">Installation</a>
      </li>
      <li class="{% if page.title == "Basic Usage" %}current{% endif %}">
        <a href="{{ site.url }}/contents/usage">Basic Usage</a>
      </li>
      <li class="{% if page.title == "Configuration" %}current{% endif %}">
        <a href="{{ site.url }}/contents/configuration">Configuration</a>
      </li>
    </ul>
    <h4>Miscellaneous</h4>
    <ul>
      <li class="{% if page.title == "Troubleshooting" %}current{% endif %}">
        <a href="{{ site.url }}/contents/troubleshooting">Troubleshooting</a>
      </li>
    </ul>
  </aside>
</div>
