<footer class="footer mini-footer">
    <div id="footer">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div style="width: 40%; float: left;">
                        <p>&copy; 2013 Exceptionless</p>
                    </div>
                    <div style="width: 60%; float: left;">
                        <p class="pull-right"><a href="http://exceptionless.com/">Home</a> <a href="http://exceptionless.com/privacy">Privacy Policy</a> <a href="http://exceptionless.com/terms">Terms of Use</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
