<ul class="pager">
  {% if page.prev_section != null %}
  <li class="previous">
    <a href="{{ site.url }}/contents/{{ page.prev_section }}">Back</a>
  </li>
  {% else %}
  <li class="previous disabled">
    <a href="{{ site.url }}/contents/{{ page.prev_section }}">Back</a>
  </li>
  {% endif %}
  {% if page.next_section != null %}
  <li class="previous">
    <a href="{{ site.url }}/contents/{{ page.next_section }}">Next</a>
  </li>
  {% else %}
  <li class="previous disabled">
    <a href="{{ site.url }}/contents/{{ page.prev_section }}">Next</a>
  </li>
  {% endif %}
</ul>
